Answer No1.

In [9]:
name="shashank"
type(name)

str

In [2]:
list=[1,2,3,4,"shashank",20.30,True]
type(list)

list

In [3]:
a=50.60
type(a)

float

In [1]:
t=("apple","mango","orange")
type(t)

tuple

In [8]:
#Answer No.2

var1=''
type(var1)

str

In [4]:
var2='[DS,ML,Python]'
type(var2)

str

In [6]:
var3=['DS','ML','Python']
type(var3)

list

In [7]:
var4=1
type(var4)

int

#Answer No.3

# / - This operator is used for division

In [1]:
a=10
b=5
c=a/b
c

2.0

# % - his operator is used for module the value"

In [2]:
a=10
b=5
c=a%b
c

0

# // - This operator is used for division flor the value

In [3]:
a=10
b=5
c=a//b
c

2

## ** - This operator is called Exponent operator. It is used to raise the numbre to a power

In [4]:
a=2
b=3 
c=a**b
c

8

#Answer No.4

In [5]:
l=[1,2,3,4.5,"Ram",15.30,True,45+5j,"my list"]
for i in l :
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4.5 <class 'float'>
Ram <class 'str'>
15.3 <class 'float'>
True <class 'bool'>
(45+5j) <class 'complex'>
my list <class 'str'>

#Answer No.5

In [6]:
A= 80
B= 2
count=0
while A % B==0:
    A=A/B
    count+=1
print("A is divisible bt B",count,"times")

A is divisible bt B 4 times

In [55]:
#Answer No.6

l1=[]
for i in range(1,26):
    l1.append(i)
for num in l1:
    if num % 3==0:
        print(num,"is divisible by 3")
    else:
        print(num,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

#Answer No.7
"""The mutable data types are those which can change or modified after the creation,
while immutable data types can not be changed once they created"""  
# Example of mutable data type

In [7]:
l2=[1,2,3,4,5]
l2.append(6)
l2[1]=7
l2.remove(3)
l2
# The  mutable data types are list, dictionaries

[1, 7, 4, 5, 6]

# Example of immutable data type
# we can not change the letter of the string it will occurs the error 
# The  immutable data types are string, tuple, integer, etc.

In [8]:
name="shashank"
name[2]=s

NameError: name 's' is not defined